* {
    margin: 0px;
    padding: 0px;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #45a049; 
}

.listContainer {
    height: 100vh;
    width: 100vw;  
    display: flex;
    justify-content: center;
    align-items: center;
}
ul#todoList {
    list-style-type: none; 
    padding: 0; 
    margin: 20px 0; 
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 700px;
}

ul#todoList li {
    padding: 15px; 
    border-bottom: 1px solid #ddd; 
    font-size: 18px; 
    color: #333; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

ul#todoList li:last-child {
    border-bottom: none; 
}

ul#todoList li:hover {
    background-color: #efefef;
}
